.about {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  /* background: url(https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80); */
  background: rgb(136, 136, 136);
  background-size: cover !important;
  padding: 15px;
  overflow: hidden !important;
  position: gotcha;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__text {
  color: white;
  width: 70%;
  text-align: left;
}

.about__title {
  color: white;
  text-align: left;
  padding-right: 2rem;
}
